<?xml version="1.0"?>
<CONFIG>
  <CONEXION>
    <USUARIOS>
      <USUARIO>
        <NOMBRE NOMBRE="NOMBRE">002349VJ</NOMBRE>
        <PASSWORD NOMBRE="PASSWORD">250889DMD</PASSWORD>
        <TIPO NOMBRE="TIPO">Administrador</TIPO>
        <STATUS NOMBRE="STATUS">Activo</STATUS>
        <ESTACION NOMBRE="ESTACION">ALL</ESTACION>
      </USUARIO>
      <USUARIO>
        <NOMBRE NOMBRE="NOMBRE">SUPERVISOR</NOMBRE>
        <PASSWORD NOMBRE="PASSWORD">SPVTUXPRD</PASSWORD>
        <TIPO NOMBRE="TIPO">Administrador</TIPO>
        <STATUS NOMBRE="STATUS">Activo</STATUS>
        <ESTACION NOMBRE="ESTACION">ALL</ESTACION>
      </USUARIO>
      <USUARIO>
        <NOMBRE NOMBRE="NOMBRE">SOLDADURA</NOMBRE>
        <PASSWORD NOMBRE="PASSWORD">WETUXPRD</PASSWORD>
        <TIPO NOMBRE="TIPO">Linea Soldadura</TIPO>
        <STATUS NOMBRE="STATUS">Activo</STATUS>
        <ESTACION NOMBRE="ESTACION">WE</ESTACION>
      </USUARIO>
      <USUARIO>
        <NOMBRE NOMBRE="NOMBRE">PINTURA</NOMBRE>
        <PASSWORD NOMBRE="PASSWORD">PATUXPRD</PASSWORD>
        <TIPO NOMBRE="TIPO">Linea Pintura</TIPO>
        <STATUS NOMBRE="STATUS">Activo</STATUS>
        <ESTACION NOMBRE="ESTACION">PA</ESTACION>
      </USUARIO>
      <USUARIO>
        <NOMBRE NOMBRE="NOMBRE">ENSAMBLE</NOMBRE>
        <PASSWORD NOMBRE="PASSWORD">AFTUXPRD</PASSWORD>
        <TIPO NOMBRE="TIPO">Linea Ensamble</TIPO>
        <STATUS NOMBRE="STATUS">Activo</STATUS>
        <ESTACION NOMBRE="ESTACION">AF</ESTACION>
      </USUARIO>
      <USUARIO>
        <NOMBRE NOMBRE="NOMBRE">CALIDAD</NOMBRE>
        <PASSWORD NOMBRE="PASSWORD">VQTUXPRD</PASSWORD>
        <TIPO NOMBRE="TIPO">Linea Calidad</TIPO>
        <STATUS NOMBRE="STATUS">Activo</STATUS>
        <ESTACION NOMBRE="ESTACION">VQ</ESTACION>
      </USUARIO>
      <USUARIO>
        <NOMBRE NOMBRE="NOMBRE">EMPAQUE</NOMBRE>
        <PASSWORD NOMBRE="PASSWORD">PKTUXPRD</PASSWORD>
        <TIPO NOMBRE="TIPO">Linea Empaque</TIPO>
        <STATUS NOMBRE="STATUS">Activo</STATUS>
        <ESTACION NOMBRE="ESTACION">PK</ESTACION>
      </USUARIO>
      <USUARIO>
        <NOMBRE NOMBRE="NOMBRE">EMBARQUE</NOMBRE>
        <PASSWORD NOMBRE="PASSWORD">SHPTUXPRD</PASSWORD>
        <TIPO NOMBRE="TIPO">Embarque</TIPO>
        <STATUS NOMBRE="STATUS">Activo</STATUS>
        <ESTACION NOMBRE="ESTACION">SHP</ESTACION>
      </USUARIO>
      <USUARIO>
        <NOMBRE NOMBRE="NOMBRE">002194VJ</NOMBRE>
        <PASSWORD NOMBRE="PASSWORD">002194VJ</PASSWORD>
        <TIPO NOMBRE="TIPO">Administrador</TIPO>
        <STATUS NOMBRE="STATUS">Activo</STATUS>
        <ESTACION NOMBRE="ESTACION">ALL</ESTACION>
      </USUARIO>
      <USUARIO>
        <NOMBRE NOMBRE="NOMBRE">002356VJ</NOMBRE>
        <PASSWORD NOMBRE="PASSWORD">002356VJ</PASSWORD>
        <TIPO NOMBRE="TIPO">Administrador</TIPO>
        <STATUS NOMBRE="STATUS">Activo</STATUS>
        <ESTACION NOMBRE="ESTACION">ALL</ESTACION>
      </USUARIO>
      <USUARIO>
        <NOMBRE NOMBRE="NOMBRE">HD01169</NOMBRE>
        <PASSWORD NOMBRE="PASSWORD">4UDTUXPRD</PASSWORD>
        <TIPO NOMBRE="TIPO">Seguimiento Linea</TIPO>
        <STATUS NOMBRE="STATUS">Activo</STATUS>
        <ESTACION NOMBRE="ESTACION">ALL</ESTACION>
      </USUARIO>
      <USUARIO>
        <NOMBRE NOMBRE="NOMBRE">002449VJ</NOMBRE>
        <PASSWORD NOMBRE="PASSWORD">002449VJ</PASSWORD>
        <TIPO NOMBRE="TIPO">Administrador</TIPO>
        <STATUS NOMBRE="STATUS">Activo</STATUS>
        <ESTACION NOMBRE="ESTACION">ALL</ESTACION>
      </USUARIO>
    </USUARIOS>
  </CONEXION>
</CONFIG>
